body{
    
}
.full-with{
    padding: 0px;
    margin: 0px;
}
.nuevo{
    background-color: rgba(54, 121, 136, 0.63);
}
.proyecto{
    background-color: #245269;
    background-size: 100% 100%;
    background-image: url("../../public/img/base-datos.png");
}
.arriba{
    background-color: #245269;
    position: fixed;
    right: -2px;
    top: 52px;
    z-index: 5;
}